################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoffeeHouse
/CoffeeHouseAPI/obj
/CoffeeHouseAPI/Properties
/CoffeeHouseLib/obj
/obj/Docker
/CoffeeHouseAPI/bin/Debug/net8.0
/CoffeeHouseLib/bin/Debug/net8.0
/.vs/ProjectEvaluation
/CoffeeHouseAPI/.vs
